ورکفلوی من 52 (1).json
{
  "name": "ورکفلوی من 52",
  "nodes": [
    {
      "parameters": {},
      "id": "5bab9c88-f1c0-46c9-89ac-ea16669fbbcd",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        288,
        -512
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-3",
        "imagePrompt": "Project: Social Media Backgrounds\nOutput:\n- size: 1024x1792\n- style: vivid\n- quality: hd\n\nArt Direction:\n- Visual style: modern gradient background with soft abstract shapes\n- Subject: clean, minimal, no central object\n- Composition: empty central space, balanced abstract flow, suitable for text overlay\n- Camera: flat orthographic\n- Lighting: soft ambient, smooth transitions\n- Background: seamless gradient blend, trendy pastel and neon accents\n- Colors: professional and trendy palette (e.g., #FF6B6B coral, #6C5CE7 purple, #00CEC9 teal, #FDCB6E warm yellow)\n- Materials: smooth vector-like finish, soft edges, no noise\n- Post-processing: crisp, no film grain, no vignette\n\nScene line:\nA professional, clean Instagram story background with modern gradients and flowing abstract shapes, leaving generous empty space in the center for text overlay.\n\nHard constraints:\n- No text. No watermark. No logos. No realistic objects or props.\n",
        "options": {
          "responseFormat": "b64_json"
        }
      },
      "id": "4631aa8c-f43b-4c30-bff4-8f09a90545f9",
      "name": "Generate Background (AI)",
      "type": "@n8n/n8n-nodes-langchain.avalAI",
      "typeVersion": 1,
      "position": [
        64,
        -512
      ],
      "credentials": {
        "avalAIApi": {
          "id": "trycoE0Effd0RrU6",
          "name": "Voice"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-3",
        "imagePrompt": "\"High-quality product photography style image, professional lighting, clean composition, commercial photography, isolated subject, marketing ready, 4K quality\"",
        "options": {
          "responseFormat": "b64_json"
        }
      },
      "id": "48d50e33-8414-4f7e-83e3-7fda435f9566",
      "name": "Generate Main (AI)",
      "type": "@n8n/n8n-nodes-langchain.avalAI",
      "typeVersion": 1,
      "position": [
        -304,
        -512
      ],
      "credentials": {
        "avalAIApi": {
          "id": "trycoE0Effd0RrU6",
          "name": "Voice"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-3",
        "imagePrompt": "\"Clean, modern brand logo design, simple geometric shapes, professional, minimal, transparent background, vector style, high contrast, suitable for overlay\"",
        "options": {}
      },
      "id": "c932087b-cbab-45ef-b07c-9b530981881b",
      "name": "Generate Watermark (AI)",
      "type": "@n8n/n8n-nodes-langchain.avalAI",
      "typeVersion": 1,
      "position": [
        -688,
        -512
      ],
      "credentials": {
        "avalAIApi": {
          "id": "trycoE0Effd0RrU6",
          "name": "Voice"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "resizeOption": "maximumArea",
        "width": 1024,
        "height": 1024,
        "format": "png",
        "quality": 80
      },
      "id": "compress-background-node",
      "name": "Compress Background",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -64,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "resize", 
        "resizeOption": "maximumArea",
        "width": 800,
        "height": 800,
        "format": "png",
        "quality": 80
      },
      "id": "compress-main-node",
      "name": "Compress Main",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -416,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "resizeOption": "maximumArea", 
        "width": 400,
        "height": 400,
        "format": "png",
        "quality": 80
      },
      "id": "compress-watermark-node",
      "name": "Compress Watermark",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -800,
        -400
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://87.236.166.7:9009/upload/background",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}"
            }
          ]
        }
      },
      "id": "2d0f2627-12cc-4999-914d-0bd25e81ca81",
      "name": "Upload Background Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -512
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://87.236.166.7:9009/upload/main",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}"
            }
          ]
        }
      },
      "id": "a6b21197-056d-463f-a3e3-b45e7619d7f5",
      "name": "Upload Main Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -512
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://87.236.166.7:9009/upload/watermark",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}"
            }
          ]
        }
      },
      "id": "d08a8009-1a5d-44f3-bf6f-de26b54cd649",
      "name": "Upload Watermark Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        -512
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://87.236.166.7:9009/generate",
        "responseFormat": "file",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"headline\": \"AI Generated Collection\",\n  \"subheadline\": \"Images generated via DALL-E and Aval AI\",\n  \"brand\": \"Fashion Store\",\n  \"background_color\": [255, 255, 255],\n  \"main_image_url\": \"{{$node[\"Upload Main Image\"].json.url}}\",\n  \"watermark_image_url\": \"{{$node[\"Upload Watermark Image\"].json.url}}\",\n  \"background_image_url\": \"{{$node[\"Upload Background Image\"].json.url}}\"\n}"
      },
      "id": "cc3f4cf8-ec88-4c7b-9a5b-7751bc196399",
      "name": "Generate Final Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1088,
        -512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Generate Background (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Background (AI)": {
      "main": [
        [
          {
            "node": "Compress Background",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Background": {
      "main": [
        [
          {
            "node": "Upload Background Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Background Image": {
      "main": [
        [
          {
            "node": "Generate Main (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Main (AI)": {
      "main": [
        [
          {
            "node": "Compress Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Main": {
      "main": [
        [
          {
            "node": "Upload Main Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Main Image": {
      "main": [
        [
          {
            "node": "Generate Watermark (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Watermark (AI)": {
      "main": [
        [
          {
            "node": "Compress Watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Watermark": {
      "main": [
        [
          {
            "node": "Upload Watermark Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Watermark Image": {
      "main": [
        [
          {
            "node": "Generate Final Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab6951c7-8f70-456e-8ff5-b03ad9994bca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9174378a582a4b5a90eaf34892d3a6893bd972b4bb1f6f776430bca0e99ef5d"
  },
  "id": "ZOmUlyH3JPrGvstC",
  "tags": []
}